.App {
  background-color: #f7f9fd;
  min-height: 100vh;
  padding-top: 1rem;
}

.title {
  text-transform: uppercase;
  margin-top: 1.5rem;
}

.add-button {
  padding: 0;
  height: 64px;
  width: 64px;
  position: absolute;
  right: 2rem;
  top: 6rem;
}

.add-button:hover {
  filter: brightness(0.8);
}

.table-spacing {
  margin: 3.5rem 1rem;
}
